.venv
__pycache__
Untitled.txt
FnMacAssistant.spec
dist
build
pull-req
Fortnite Mac Banner.jpeg
entitlements.plist
Icon.icns
icons
.DS_Store
.DerivedData
sparkle-updates/sparkle-tools
sparkle-updates/release.txt
Sparkle-updates/beta.txt
Sparkle-updates/FnMacAssistant v.html
Sparkle-updates/files
AGENTS.md
